.add__product{
    width: 80%;
    position: relative;
    left: 300px;
}
.add__product input{
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: block; 
}
