.product {
	margin-bottom: 30px;
}
.product-inner {
	box-shadow: 0 0 10px rgba(0,0,0,.2);
	padding: 10px;
}
.product img {
	margin-bottom: 10px;
}
.horizontal-slider{
    width: 100%;
}
.example-track.example-track-1{
    background: red;
}
.example-track.example-track-0{
    background: red;
}