a {
    font-size:14px;
    font-weight:700
  }
  .superNav {
    font-size:13px;
  }
  .form-control {
    outline:none !important;
    box-shadow: none !important;
  }
  .logout__btn{
    border: none;
    background-color: transparent;
    font-weight: 400;
    margin-left: 20px;
  }
  @media screen and (max-width:540px){
    .centerOnMobile {
      text-align:center
    }
  }