.rounded-circle{
    height: 50px;
    margin-left: 30px;
}
.card .offer_OutS {
    width: 150px;
    height: 40px;
    background-color: red;
    position: absolute;
    top: 28px;
    left: -14px;
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    color: #fff
}
.card .offer_InS {
    width: 150px;
    height: 40px;
    background-color: green;
    position: absolute;
    top: 28px;
    left: -14px;
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    color: #fff
}

.card span:before {
    position: absolute;
    content: '';
    background-color: red;
    height: 30px;
    width: 17px;
    top: 20px;
    left: 0px;
    border-radius: 10px;
    z-index: -10
}

.card span:after {
    position: absolute;
    content: '';
    background-color: #d70303;
    height: 30px;
    width: 17px;
    top: 30px;
    left: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 20px;
    z-index: -10
}